<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="lengow_global_options">
            <group id="store_credential">
                <field id="global_environment" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Environment</label>
                    <source_model>PH2M\LengowEnvironmentUrlsConfigurable\Model\Config\Source\Environment</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
